* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.cities-container video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.cities-input {
  padding: 10px 10%;
  border-radius: 10px;
}

.cities-input::placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.cities-section {
  min-height: 100vh;
  width: 100%;
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.alert-cities{
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  color: #fff;
}

.card-link {
  text-decoration: none;
  max-height: 300px;
}

.city-container {
  min-height: 100vh;
  width: 100%;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-hero {
  height: 50vh;
  padding-top: 80px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city-country {
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.itineraries-section {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/1230302/pexels-photo-1230302.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.itineraries-section--title {
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding-bottom: 15px;
  font-size: 30px;
}

.alert {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  .cities-section{
    grid-template-columns: 1fr;
  }
}

.cities-section li p {
  color: #000;
}
